

<!-- Start breadcrumb section -->
<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content">
                    <h1 class="breadcrumb__content--title text-white mb-10">Đăng nhập</h1>
                    <ul class="breadcrumb__content--menu d-flex">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" href="~/home">Home</a></li>
                        <li class="breadcrumb__content--menu__items"><span class="text-white">Đăng nhập</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb section -->
<!-- Start login section  -->
<div class="login__section section--padding">
    <div class="container">
        <form id="form-login" action="~/signin" method="post">
            <div class="login__section--inner">
                <div class="row justify-content-center">
                    <div class="col col-8">
                        <div class="account__login">
                            <div class="account__login--header mb-25">
                                <h3 class="account__login--header__title mb-10">Đăng nhập</h3>
                                <p class="account__login--header__desc">Đăng nhập nếu ban đã có tài khoản</p>
                            </div>
                            <div class="account__login--inner">
                                <label>
                                    <input class="account__login--input" placeholder="Username" type="text" id="username" name="username" required>
                                </label>
                                <label>
                                    <input class="account__login--input" placeholder="Password" type="password" id="password" name="password" required>
                                </label>

                                <p id="authenticationValidateMessage" class="mt-3 mb-3"></p>
                                <button class="account__login--btn primary__btn" type="submit">Đăng nhập</button>
                                <div class="account__login--divide">
                                    <span class="account__login--divide__text">Hoặc</span>
                                </div>
                                <div class="account__social d-flex justify-content-center mb-15">
                                    <a class="account__social--link primary__btn" href="~/login-with-google">Đăng nhập với Google</a>
                                </div>
                                <div class="account__login--divide">
                                    <span class="account__login--divide__text">Hoặc</span>
                                </div>
                                <div class="account__social d-flex justify-content-center mb-15">
                                    <a class="account__social--link twitter" href="~/admin/login">Đăng nhập vào trang quản trị</a>
                                </div>

                                <div class="account__login--divide">
                                    <span class="account__login--divide__text">Hoặc</span>
                                </div>
                                <p class="account__login--signup__text">Bạn chưa có tài khoản? <a class="text__secondary" href="~/register">Đăng ký ngay</a></p>

                                <div class="account__login--divide">
                                    <span class="account__login--divide__text">Hoặc</span>
                                </div>
                                <p class="account__login--signup__text">Bạn không thể đăng nhập? <a class="text__secondary" href="~/forgot-password">Quên mật khẩu</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End login section  -->
<div class="modal" id="modal-error" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0" id="notify">Thao tác bị lỗi, vui lòng thực hiện lại</h3>
    </div>
</div>
<div class="modal" id="modal-register" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0">Đăng kí tài khoản thành công, vui lòng kiểm tra email để xác nhận tài khoản</h3>
    </div>
</div>
<div class="modal" id="modal-unconfirm" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0">Tài khoản của bạn chưa xác nhận email. Vui lòng kiểm tra email</h3>
    </div>
</div>
<div class="modal" id="modal-confirm-error" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0">Xác nhận email đã xảy ra lỗi. Vui lòng thử lại</h3>
    </div>
</div>
<div class="modal" id="modal-confirm-success" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0">Xác nhận email thành công, bạn có thể đăng nhập</h3>
    </div>
</div>
<div class="modal" id="modal-banned" data-animation="slideInUp" style="z-index: 999;">
    <div class="modal-dialog quickview__main--wrapper">
        <h3 class="modal-header border-bottom-0">Tài khoản của bạn bị cấm hoạt động, vui lòng liên hệ quản trị viên</h3>
    </div>
</div>

@section Scripts {
    <script>
        $(window).on('load', function () {
            let errs = true;
            @if(ViewData["Error"] != null)
            {
                <text>
                    document.getElementById("notify").innerHTML = 'Thao tác bị lỗi, vui lòng thực hiện lại'
                </text>
            }
            if (window.location.href.includes("error")) {
                document.getElementById("notify").innerHTML = 'Thao tác bị lỗi, vui lòng thực hiện lại'
            }
            else if (window.location.href.includes("banned")) {
                document.getElementById("notify").innerHTML = 'Tài khoản của bạn đã bị vô hiệu hoá, vui lòng liên hệ quản trị viên'
            } 
            else if (window.location.href.includes("unconfirm")) {
                document.getElementById("notify").innerHTML = 'Tài khoản của bạn chưa xác nhận email. Vui lòng kiểm tra email'
            } 
            else if (window.location.href.includes("register")) {
                document.getElementById("notify").innerHTML = 'Đăng kí tài khoản thành công, vui lòng kiểm tra email để xác nhận tài khoản'
            } 
            else if (window.location.href.includes("confirm-error")) {
                document.getElementById("notify").innerHTML = 'Xác nhận email đã xảy ra lỗi. Vui lòng thử lại'
            }
            else if (window.location.href.includes("confirm-success")) {
                document.getElementById("notify").innerHTML = 'Xác nhận email thành công, bạn có thể đăng nhập'
            }
            else if (window.location.href.includes("forgot-success")) {
                document.getElementById("notify").innerHTML = 'Vui lòng kiểm tra email để tiến hành đổi mật khẩu'
            }
            else if (window.location.href.includes("forgot-error")) {
                document.getElementById("notify").innerHTML = 'Thao tác gửi mail thất bại, vui lòng thử lại sau'
            }
            else if (window.location.href.includes("reset-success")) {
                document.getElementById("notify").innerHTML = 'Đặt lại mật khẩu thành công, bạn có thể đăng nhập'
            }
            else if (window.location.href.includes("reset-error")) {
                document.getElementById("notify").innerHTML = 'Đặt lại mật khẩu thất bại, vui lòng thử lại sau'
            }
            else{
                errs = false
            }
            if(errs)
                document.getElementById("modal-error").classList.add('is-visible')
         }
        );
        $('#form-login').submit(function (e) {
            validateForm(e)
        })
        function validateForm(e) {
            let noError = true;
            e.preventDefault()
            let url = `/signin`
            $.ajax({
                url: url,
                method: "POST",
                data: {
                    'username': $('#username').val(),
                    'password': $('#password').val()
                },
                async: false,
                success: function (data) {
                    console.log(data)
                    let str = data.toString()
                    if (str.includes('error') && str.length <= 10) {
                        $('#authenticationValidateMessage').html('Username/password không chính xác').css('color', 'red')
                        noError = false;
                    } else if (str.includes("banned") && str.length <= 10) {
                        $('#authenticationValidateMessage').html('Tài khoản bị cấm hoạt động').css('color', 'red')
                        noError = false;
                    } else if (str.includes("unconfirm") && str.length <= 10) {
                        $('#authenticationValidateMessage').html('Tài khoản chưa xác nhận email').css('color', 'red')
                        noError = false;
                    }
                },
                error: function (error) {
                    noError = false;
                }
            })
            if (noError) {
                $('#form-login').unbind('submit').submit();
            }
        }
    </script>
}
